---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tasmoadmin
spec:
  chartRef:
    kind: OCIRepository
    name: tasmoadmin
  interval: 1h
  values:
    controllers:
      tasmoadmin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/tasmoadmin/tasmoadmin
              tag: v4.3.4@sha256:9d0869cb47d7d525f69ca555708c00b52dd899acc02e4d3e268bd949e29bb6fd
            env:
              TZ: Australia/Melbourne
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /login
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # s6-bullshit
              readOnlyRootFilesystem: false
              # capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name":"iot",
            "namespace": "kube-system",
            "ips": ["192.168.2.3/24"],
            "mac": "3e:59:e4:f7:43:03"
          }]
      # s6-bullshit
      securityContext:
        # runAsNonRoot: true
        # runAsUser: 1000
        # runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.hyde.services"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /var/lib/nginx/tmp
            subPath: nginx-tmp
          - path: /var/lib/nginx/logs
            subPath: nginx-logs
