---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dragonfly
spec:
  image: ghcr.io/dragonflydb/dragonfly:v1.35.1@sha256:af7f7f1143269c7ffe4128451dff8f8fc09e157d885abcc9bafeec832d2928e6
  replicas: 1
  resources:
    requests:
      cpu: 20m
      memory: 64Mi
    limits:
      memory: 256Mi
  serviceSpec:
    annotations:
      gatus.home-operations.com/endpoint: |-
        group: services
        interval: 15s
        conditions:
          - "[CONNECTED] == true"
  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=1
    - --default_lua_flags=allow-undeclared-keys
  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          divisor: 1Mi
          resource: limits.memory
