---
# yaml-language-server: $schema=https://schemas.hydaz.com/k8s.mariadb.com/mariadb_v1alpha1.json
apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb
spec:
  # renovate: datasource=docker depName=docker.io/library/mariadb
  image: docker.io/library/mariadb:12.0.2@sha256:5b6a1eac15b85b981a61afb89aea2a22bf76b5f58809d05f0bcc13ab6ec44cb8
  replicas: 3
  replication:
    enabled: true
    replica:
      replPasswordSecretKeyRef:
        name: mariadb-secret
        key: REPLICATION_PASSWORD
      bootstrapFrom:
        physicalBackupTemplateRef:
          name: mariadb-backup
      recovery:
        enabled: true
  storage:
    size: 16Gi
    storageClassName: openebs-hostpath
  affinity:
    antiAffinityEnabled: true
  resources:
    requests:
      cpu: 10m
      memory: 512Mi
    limits:
      memory: 2Gi
  service:
    metadata:
      annotations:
        gatus.home-operations.com/endpoint: |-
          group: services
          interval: 15s
          conditions:
            - "[CONNECTED] == true"
  rootPasswordSecretKeyRef:
    name: mariadb-secret
    key: root-password
  myCnf: |-
    [mariadb]
    bind-address=*
    default_storage_engine=InnoDB
    binlog_format=row
    innodb_autoinc_lock_mode=2
    innodb_buffer_pool_size=1600MB
    max_allowed_packet=1GB
  bootstrapFrom:
    s3:
      accessKeyIdSecretKeyRef:
        name: mariadb-secret
        key: B2_ACCESS_KEY_ID
      bucket: b2backup-k8s
      endpoint: s3.us-east-005.backblazeb2.com
      prefix: mariadb
      secretAccessKeySecretKeyRef:
        name: mariadb-secret
        key: B2_SECRET_ACCESS_KEY
      tls:
        enabled: true
    backupContentType: Physical
    stagingStorage:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 4Gi
        accessModes:
          - ReadWriteOnce
        storageClassName: openebs-hostpath
  metrics:
    enabled: true
  updateStrategy:
    autoUpdateDataPlane: true
