---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ai
spec:
  chartRef:
    kind: OCIRepository
    name: paperless-ai
  interval: 1h
  values:
    controllers:
      paperless-ai:
        containers:
          app:
            image:
              repository: docker.io/clusterzx/paperless-ai
              tag: 3.0.8@sha256:78fcb191f4e08a6e25cae7634aa4433199522f7d98a53a07b5a935d9ebd9a5f8
            command:
              # bypass entrypoint (skip RAG)
              - pm2-runtime
            args:
              - ecosystem.config.js
            env:
              PAPERLESS_AI_PORT: &port 80
              TZ: Australia/Melbourne
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.hyde.services"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/data
      env:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /app/data/.env
            subPath: .env
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /app/public/images
            subPath: images
          - path: /tmp
            subPath: tmp
          - path: /app/logs
            subPath: logs
          - path: /home/node
            subPath: node
