---
machine:
  install:
    diskSelector:
      wwid: eui.0025385931b03c1a # Samsung SSD 970 EVO Plus 1TB
    image: factory.talos.dev/metal-installer-secureboot/b0bfc42154424352765a5e0129c69366c7518a37f332b1551af2be623ceba5a0:v1.11.0
  network:
    hostname: discovery
  nodeLabels:
    nvidia.com/gpu.present: "true"
  type: controlplane
