---
machine:
  install:
    diskSelector:
      wwid: eui.0025385691b4fd0c # Samsung SSD 970 EVO Plus 500GB
    image: factory.talos.dev/metal-installer-secureboot/292e18ead18d085ced96563e1c4d15645d5b5c7154c11d95e10074848b2730a8:v1.11.0
  network:
    hostname: voyager
  type: controlplane
