---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 1h
  values:
    controllers:
      immich:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            env: &env
              DB_PORT: 5432
              IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.media.svc.cluster.local
              IMMICH_MEDIA_LOCATION: /photos
              IMMICH_PORT: &port 80
              REDIS_HOSTNAME: dragonfly.databases.svc.cluster.local
              REDIS_PORT: 6379
              REDIS_DBINDEX: 4
            envFrom:
              - secretRef:
                  name: &secret "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
                spec:
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 1Gi
      machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
            env:
              MPLCONFIGDIR: "/cache/matplotlib"
              <<: *env
            envFrom:
              - secretRef:
                  name: *secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: immich
        ports:
          http:
            port: *port
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        hostnames:
          - "{{ .Release.Name }}.hyde.services"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      photos:
        type: nfs
        server: 192.168.42.20
        path: /mnt/Slow/Media/Immich
      machine-learning-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        advancedMounts:
          machine-learning:
            app:
              - path: /cache
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.reverse-geocoding-dump
            subPath: geocoding
          - path: /usr/src/app/.transformers_cache
            subPath: transformers
          - path: /cache/matplotlib
            subPath: matplotlib
          - path: /tmp
            subPath: tmp
