---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jenkins
spec:
  chartRef:
    kind: OCIRepository
    name: jenkins
  interval: 1h
  values:
    controllers:
      jenkins:
        containers:
          app:
            image:
              repository: docker.io/jenkins/jenkins
              tag: 2.542-jdk21@sha256:033f835603b584d220123ffaeffaac88f98cce10027ecb092b21ddf60030f297
            args:
              - --httpPort=80
            env:
              JENKINS_OPTS: --webroot=/var/jenkins_cache/war
              JAVA_OPTS: -Xmx1536m -Xms512m
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /login
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 1Gi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - ci.imagegenius.io
        parentRefs:
          - name: envoy-cloudflare
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/jenkins_home
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /var/jenkins_cache
            subPath: cache
          - path: /tmp
            subPath: tmp
