---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: discovery
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
hardwareAddr: f4:52:14:80:7f:a0
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.wwid == "eui.0025385931b03c1a"
