---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-hs
spec:
  chartRef:
    kind: OCIRepository
    name: nginx-hs
  interval: 1h
  values:
    controllers:
      nginx:
        containers:
          app:
            image:
              repository: docker.io/library/nginx
              tag: 1.29.4-alpine@sha256:fd9f8ce722ab13edb2e47ebdd16b843939280457bf1567a6cd155203f9ce98d8
            env:
              TZ: Australia/Melbourne
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - hyde.services
        parentRefs:
          - name: envoy-cloudflare
            namespace: network
    configMaps:
      config:
        data:
          default.conf: |-
            server {
                listen 80;
                server_name _;
                root /var/www/html;
                index index.html;
                real_ip_header X-Forwarded-For;
                set_real_ip_from 10.42.0.0/16;
                set_real_ip_from 192.168.42.0/24;
                location / {
                    try_files $uri $uri/ =404;
                }
            }
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/www/html
      config:
        type: configMap
        identifier: config
        globalMounts:
          - path: /etc/nginx/conf.d/default.conf
            subPath: default.conf
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /var/cache/nginx
            subPath: cache-nginx
          - path: /var/run
            subPath: run
