---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tqm
spec:
  chartRef:
    kind: OCIRepository
    name: tqm
  interval: 1h
  dependsOn:
    - name: qbittorrent
      namespace: media
  values:
    controllers:
      tqm:
        type: cronjob
        cronjob: &cronJobSpec
          schedule: "@hourly"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          timeZone: Australia/Melbourne
        initContainers:
          retag: &container
            image:
              repository: ghcr.io/home-operations/tqm
              tag: 1.18.0@sha256:454864e1f56a86550c54776c3ba5f3439133b4fc4e66ef69ff90a6ee65db6cc5
            args:
              - retag
              - qb
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
        containers:
          clean:
            <<: *container
            args:
              - clean
              - qb
      orphaned:
        type: cronjob
        cronjob:
          <<: *cronJobSpec
          schedule: "@weekly"
        containers:
          app:
            <<: *container
            args:
              - orphan
              - qb
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config/tqm
      config-file:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /.config/tqm/config.yaml
            subPath: config.yaml
      media:
        type: nfs
        server: 192.168.42.20
        path: /mnt/Slow/Media
        globalMounts:
          - path: /data
