---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  chartRef:
    kind: OCIRepository
    name: paperless
  interval: 1h
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.19.4@sha256:7ec0797af256194f6e117d1b7ed3ef91ad31b4a14bf3092abdee6bb74f6b3656
            env:
              EMPTY_TRASH_DELAY: 0 1 * * *
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_BIND_ADDR: 0.0.0.0
              PAPERLESS_DISABLE_REGULAR_LOGIN: true
              PAPERLESS_PORT: &port 80
              PAPERLESS_REDIRECT_LOGIN_TO_SSO: true
              PAPERLESS_REDIS: redis://dragonfly.databases.svc.cluster.local:6379/3
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIME_ZONE: Australia/Melbourne
              PAPERLESS_URL: https://paperless.hyde.services
              USERMAP_GID: 1000
              USERMAP_UID: 1000
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # E: List directory /var/lib/apt/lists/partial is missing. - Acquire (30: Read-only file system)
              readOnlyRootFilesystem: false
              # E: setgroups 65534 failed - setgroups (1: Operation not permitted)
              #capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 1Gi
              limits:
                memory: 2Gi
          tika:
            image:
              repository: ghcr.io/paperless-ngx/tika
              tag: 2.9.1-minimal@sha256:20db3df89eaeb1b271dd840888fe909b88b12f4b86ef641ec07a1d45d4c5168f
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
          gotenberg:
            image:
              repository: docker.io/gotenberg/gotenberg
              tag: 8.24.0@sha256:b116a40a1c24917e2bf3e153692da5acd2e78e7cd67e1b2d243b47c178f31c90
            command:
              - /usr/bin/gotenberg
            args:
              - --chromium-disable-javascript=true
              - "--chromium-allow-list=file:///tmp/.*"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.hyde.services"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          paperless:
            app:
              - path: /usr/src/paperless/data
      media:
        type: nfs
        server: 192.168.42.20
        path: /mnt/Fast/Public/Paperless/media
        advancedMounts:
          paperless:
            app:
              - path: /usr/src/paperless/media
      tmp:
        type: emptyDir
