---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tasmoadmin
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: multus-networks
      namespace: kube-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: ./kubernetes/apps/home-automation/tasmoadmin/app
  postBuild:
    substitute:
      APP: tasmoadmin
      VOLSYNC_CAPACITY: 64Mi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home-automation
